@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#app {
  position: relative;
  max-width: 1080px;
  display: flex;
  padding: 32px;
  margin: 0 auto;
}

button {
  border: none;
  cursor: pointer;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #333333 #ffffff;
  -webkit-font-feature-settings: "lnum";
  -moz-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #b4b4b4;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b4b4b4;
}
